body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.container {
    background: white;
    padding: 30px;
    width: 400px;
    margin: 100px auto;
    border-radius: 10px;
}

input {
    padding: 10px;
    width: 80%;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background: blue;
    color: white;
    border: none;
}

h2 {
    margin-top: 20px;
}
