<!DOCTYPE html>
<html>
<head>
    <title>Password Strength Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Password Strength Analyzer</h1>

    <form method="POST">
        <input type="password" name="password" placeholder="Enter Password" required>
        <button type="submit">Check Strength</button>
    </form>

    {% if strength %}
        <h2>Strength: {{ strength }}</h2>
        <p>Estimated Crack Time: {{ time }}</p>

        <h3>Suggestions:</h3>
        <ul>
        {% for tip in suggestions %}
            <li>{{ tip }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</div>

</body>
</html>
